.App {
}

* {
  margin: 0;
  padding: 0;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.chat__components {
  display: flex;
  flex-direction: row;
}

.chat__title {
  text-align: center;
}

.chat__history__container {
  min-width: 200px;
  height: 100vh;
  padding: 10px;
  border-right: solid 1px black;
}

.chat__messages__current {
  height: 100vh;
  padding: 10px;
}

.current__chat {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 80%;
}

.current__chat__messages {
  flex-grow: 1;
}

.current__chat__input {
  width: 80vw;
  height: 100px;
}